input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] { -moz-appearance:textfield; }

.screen{
  background-color: rgba(20, 20, 20);
  color: #1a1;
  width: 100%;
  height: 30px;
  box-sizing: border-box;

}

.numKeypad{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;


}
.opKeypad{
  width: 20%;
}
.board{
  display: flex;
  width: 100%;
}

.numbers{
  background-color: #375a3f;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.numbers:hover{
  background-color: #657068;
}

.operators, .footOperators{
  background-color: #2f312f;
  height: 30px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.operators:hover, .footOperators:hover{
  background-color: #657068;
}

.footerOperators{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

/*TODO: buscar como hacerlo bien con grid */
