.stringLights{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.light{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.10);
}
.animationLights{
  animation: 2s infinite alternate lights;

}
.secondAnimationLights{
  animation: 2s infinite alternate lights 1s;

}
.switch{
  border: 1px solid #fff;
  font-size: 12px;
  padding: 3px;
}


@keyframes lights {
  to{
    background-color: rgba(255, 255, 0, 0.10);
  }

  from{
    background-color: yellow;
    box-shadow: 0px 0px 10px yellow;
  }
}