.stringLights{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.light{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.10);
  animation: infinite alternate;
}
/* .animationLights{
  animation: 2s infinite alternate lights;

} */
/* .secondAnimationLights{
  animation: 2s infinite alternate lights 1s;

} */
.switch{
  border: 1px solid #fff;
  font-size: 12px;
  padding: 3px;
}


@keyframes yellowLights {
  to{
    background-color: rgba(255, 255, 0, 0.10);
  }

  from{
    background-color: rgb(255,255,0);
    box-shadow: 0px 0px 10px #FF0;
  }
}

@keyframes redLights {
  to{
    background-color: rgba(255, 0, 0, 0.10);
  }

  from{
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 10px #F00;
  }
}

@keyframes greenLights {
  to{
    background-color: rgba(0, 255, 0, 0.10);
  }

  from{
    background-color: rgb(0, 255, 0);
    box-shadow: 0px 0px 10px #0F0;
  }
}

@keyframes blueLights {
  to{
    background-color: rgba(0, 0, 255, 0.10);
  }

  from{
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 0px 10px #00F;
  }
}

@keyframes violetLights {
  to{
    background-color: rgba(255, 0, 255, 0.10);
  }

  from{
    background-color: rgb(128, 0, 128);
    box-shadow: 0px 0px 10px #800080;
  }
}